.title{
    margin: 2rem 0 0rem;
    text-align: center;
}

.bodyText{
    width: 70%;
    text-align: center;
    margin: auto;
    font-size:large;
}

.bodyText a{
    color: var(--secondaryColor);;
}

.bodyText li{
    text-align: left;
    margin-left: 25%;
}

.logo{
    text-align: center;
}