.modal h2{
  margin-top: 0rem;
  text-align: center;
}

.modal h2:hover {
  color: rgb(0, 0, 0);
  cursor: default;
}

.modal label{
    color: rgb(128, 128, 128);
    font-style: italic;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  vertical-align: top;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 30vh;
  left: calc(50% - 15rem);
}

